<section class="section" id="about-me">
  <div class="container">
    <h2 class="visually-hidden">About me</h2>
    <div class="about-me-flex">
      <p class="about-me-text">
        I work with people all over the world to create impressive and
        <span class="about-me-accent-red">functional</span>
        <span class="about-me-accent-grey">websites</span>
        that reflect each client's unique personality.
      </p>
      <picture class="about-me-img">
        <source srcset="
            /img/about-me/man-desktop@1x.png 1x,
            /img/about-me/man-desktop@2x.png 2x
          " media="(min-width: 1158px)" />
        <source srcset="
            /img/about-me/man-tablet@1x.png 1x,
            /img/about-me/man-tablet@2x.png 2x
          " media="(min-width: 768px)" />
        <source srcset="
            /img/about-me/man-mobile@1x.png 1x,
            /img/about-me/man-mobile@2x.png 2x
          " media="(max-width: 767px)" />
        <img src="/img/about-me/man-mobile@1x.png" alt="Lloyd Jefferson photo" />
      </picture>
    </div>
    <ul class="about-me-accordion">
      <li class="about-me-item">
        <div class="about-me-icon">
          <h3 class="about-me-titel">About Me</h3>
          <svg class="icon-arrow">
            <use href="/img/sprite.svg#icon-bird-down"></use>
          </svg>
        </div>
        <div class="about-me-flex-div">
          <p class="about-me-list-text about-me-mg">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills and am able to effectively solve even the most
            difficult tasks encountered on the way.
          </p>
          <p class="about-me-list-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I am always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>
      <li class="about-me-item">
        <div class="about-me-icon">
          <h3 class="about-me-titel">Role</h3>
          <svg class="icon-arrow">
            <use href="/img/sprite.svg#icon-bird-down"></use>
          </svg>
        </div>
        <div class="about-me-flex-div">
          <p class="about-me-list-text">Frontend development</p>
          <p class="about-me-list-text">HeadlessCMS/WordPress</p>
          <p class="about-me-list-text">Blender-3D</p>
        </div>
      </li>
      <li class="about-me-item">
        <div class="about-me-icon">
          <h3 class="about-me-titel">Education</h3>
          <svg class="icon-arrow">
            <use href="/img/sprite.svg#icon-bird-down"></use>
          </svg>
        </div>
        <div class="about-me-flex-div">
          <p class="about-me-list-text about-me-text-wrap-first">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </p>
          <p class="about-me-list-text about-me-text-wrap">
            2019 - 2020 / Advanced Web Development Certification, GoIT IT
            School, New York
          </p>
          <p class="about-me-list-text about-me-text-wrap">
            2020 - 2021 / Advanced Blender Animation Techniques, Udemy
          </p>
        </div>
      </li>
    </ul>
    <div class="about-me-swiper-container">
      <div class="swiper about-me-swiper">
        <ul class="swiper-wrapper about-me-list-skils">
          <li class="swiper-slide about-me-item-skils active">HTML/CSS</li>
          <li class="swiper-slide about-me-item-skils">JavaScript</li>
          <li class="swiper-slide about-me-item-skils">React</li>
          <li class="swiper-slide about-me-item-skils">Node.js</li>
          <li class="swiper-slide about-me-item-skils">React Native</li>
          <li class="swiper-slide about-me-item-skils">Soft skills</li>
          <li class="swiper-slide about-me-item-skils">Python</li>
          <li class="swiper-slide about-me-item-skils">Vue.js</li>
        </ul>

        <svg class="swiper-button-next" width="28" height="28">
          <use href="/img/sprite.svg#icon-left-arrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>