<section class="section covers-section">
  <div class="covers-container">
    <h2 class="visually-hidden">Covers</h2>
    <div class="covers-content-container">
      <div class="covers-content">
        <div class="covers-content-project">
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-body@1x.png 1x, /img/covers/website-body@2x.png 2x"
            src="/img/covers/website-body@1x.png"
            alt="project cite of PowerPulse"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-business@1x.png 1x, /img/covers/website-business@2x.png 2x"
            src="/img/covers/website-business@1x.png"
            alt="project cite of StarlightStudio"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-english@1x.png 1x, /img/covers/website-english@2x.png 2x"
            src="/img/covers/website-english@1x.png"
            alt="project cite of englishexcellence."
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-fruits@1x.png 1x, /img/covers/website-fruits@2x.png 2x"
            src="/img/covers/website-fruits@1x.png"
            alt="project cite of fruitbox"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-healthy@1x.png 1x, /img/covers/website-healthy@2x.png 2x"
            src="/img/covers/website-healthy@1x.png"
            alt="project cite of energy.flow"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-mimino@1x.png 1x, /img/covers/website-mimino@2x.png 2x"
            src="/img/covers/website-mimino@1x.png"
            alt="project cite of mimino"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-nature@1x.png 1x, /img/covers/website-nature@2x.png 2x"
            src="/img/covers/website-nature@1x.png"
            alt="project cite of chego"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-ukrainian@1x.png 1x, /img/covers/website-ukrainian@2x.png 2x"
            src="/img/covers/website-ukrainian@1x.png"
            alt="project cite of ukrainian artistry"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-vegetables@1x.png 1x, /img/covers/website-vegetables@2x.png 2x"
            src="/img/covers/website-vegetables@1x.png"
            alt="project cite of green harvest"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-body@1x.png 1x, /img/covers/website-body@2x.png 2x"
            src="/img/covers/website-body@1x.png"
            alt="project cite of PowerPulse"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-business@1x.png 1x, /img/covers/website-business@2x.png 2x"
            src="/img/covers/website-business@1x.png"
            alt="project cite of StarlightStudio"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-english@1x.png 1x, /img/covers/website-english@2x.png 2x"
            src="/img/covers/website-english@1x.png"
            alt="project cite of englishexcellence."
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-fruits@1x.png 1x, /img/covers/website-fruits@2x.png 2x"
            src="/img/covers/website-fruits@1x.png"
            alt="project cite of fruitbox"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-healthy@1x.png 1x, /img/covers/website-healthy@2x.png 2x"
            src="/img/covers/website-healthy@1x.png"
            alt="project cite of energy.flow"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-mimino@1x.png 1x, /img/covers/website-mimino@2x.png 2x"
            src="/img/covers/website-mimino@1x.png"
            alt="project cite of mimino"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-nature@1x.png 1x, /img/covers/website-nature@2x.png 2x"
            src="/img/covers/website-nature@1x.png"
            alt="project cite of chego"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-ukrainian@1x.png 1x, /img/covers/website-ukrainian@2x.png 2x"
            src="/img/covers/website-ukrainian@1x.png"
            alt="project cite of ukrainian artistry"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-vegetables@1x.png 1x, /img/covers/website-vegetables@2x.png 2x"
            src="/img/covers/website-vegetables@1x.png"
            alt="project cite of green harvest"
            loading="lazy"
          />
          <img
            class="covers-content-project-img"
            srcset="/img/covers/website-body@1x.png 1x, /img/covers/website-body@2x.png 2x"
            src="/img/covers/website-body@1x.png"
            alt="project cite of PowerPulse"
            loading="lazy"
          />
        </div>
      </div>
    </div>
  </div>
</section>
