<header id="header" class="section header-section">
  <div class="container header-container">
    <div class="header-logo">
      <a class="header-logo-link" href="https://www.edu.goit.global/uk/homepage">
        <img class="header-logo-img" src="/img/header/logo.svg" alt="logo icon">
      </a>
    </div>
    <nav class="header-nav-container">
      <p class="header-nav-menu">Menu</p>
      <ul class="header-menu-list visually-hidden">
        <li><a href="#about-me" class="header-nav-menu-link">About me</a></li>
        <li><a href="#benefits" class="header-nav-menu-link">Benefits</a></li>
        <li><a href="#projects" class="header-nav-menu-link">Projects</a></li>
        <li><a href="#faq" class="header-nav-menu-link">FAQ</a></li>
      </ul>
    </nav>
    <a href="#work-together" class="header-order-btn">Order the project</a>

    <button class="burger-icon-btn" id="header-burger-btn">
      <svg width="28" height="28">
        <use href="/img/sprite.svg#icon-heder-burger"></use>
      </svg>
    </button>

    <div class="header-modal visually-hidden" id="header-modal">
      <button class="header-modal-close-btn" id="header-modal-close-btn">
        <svg width="28" height="28">
          <use href="/img/sprite.svg#icon-heder-modal-x"></use>
        </svg>
      </button>
      <ul class="header-modal-menu" id="header-modal-menu">
        <li><a href="#about-me" class="header-modal-menu-link">About me</a></li>
        <li><a href="#benefits" class="header-modal-menu-link">Benefits</a></li>
        <li><a href="#projects" class="header-modal-menu-link">Projects</a></li>
        <li><a href="#faq" class="header-modal-menu-link">FAQ</a></li>
      </ul>
      <a href="#work-together" class="header-modal-order-btn">Order the project</a>
    </div>
  </div>
</header>
