<section id="hero" class="hero-section">
  <div class="container hero-container">
    <h1 class="hero-title">Hello.<br>I'm Fullstack developer<br>Lloyd Jefferson.</h1>
    <div class="hero-social-links-container">
      <ul class="hero-social-links">
        <li class="hero-social-link ig-link"><a href="https://www.instagram.com/goitclub/" target="_blank">IG</a></li>
        <li class="hero-social-link fb-link"><a href="https://www.facebook.com/goITclub/" target="_blank">FB</a></li>
        <li class="hero-social-link yt-link"><a href="https://www.youtube.com/c/GoIT" target="_blank">YT</a></li>
        <li class="hero-social-link gh-link"><a href="https://github.com/Kateryna-4yka/portfolio-project_js_team18"
            target="_blank">GH</a></li>
        <li class="hero-social-link email-link"><a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </li>
      </ul>
    </div>
  </div>
</section>