<div class="modal-work-together success-modal visually-hidden">
  <button class="footer-modal-close-btn" type="button">
    <svg class="modal-backdrop-close-icon" width="24" height="24">
      <use href="/img/sprite.svg#icon-footer-x"></use>
    </svg>
  </button>
  <h4 class="modal-backdrop-title">
    Thank you for your interest in cooperation!
  </h4>
  <p class="footer-modal-backdrop-info">
    The manager will contact you shortly to discuss further details and
    opportunities for cooperation. Please stay in touch.
  </p>
</div>
