<section id="projects" class="section">
  <div class="container">
    <h2>Projects</h2>
    <div class="projects__card">
      <div class="projects__info-container">
        <ul class="projects__list-tools">
          <li>#react</li>
          <li>#js</li>
          <li>#node js</li>
          <li>#git</li>
        </ul>
        <p class="projects__title">
          Programming Across Borders: Ideas, Technologies, Innovations
        </p>
        <p class="projects__btn">See project</p>
      </div>
      <div class="projects__demo-container">
        <img
          src="/img/projects/book@1x.png"
          srcset="
            ../img/projects/book@1x.png 1x,
            ../img/projects/book@2x.png 2x
          "
          alt="Book Cover"
          width="614"
          height="385"
        />
      </div>
    </div>
    <ul class="projects__nav">
      <li>
        <svg class="projects__arrow projects__arrow-right">
          <use href="../img/sprite.svg#projects__arrow"></use>
        </svg>
      </li>
      <li>
        <svg class="projects__arrow">
          <use href="../img/sprite.svg#projects__arrow"></use>
        </svg>
      </li>
    </ul>
  </div>
</section>
