<section id="projects" class="section">
  <div class="container">
    <h2 class="projects-title">Projects</h2>
    <div class="projects-container">
      <div class="swiper projects-swiper">
        <ul class="swiper-wrapper projects-list">
          <li class="projects-item swiper-slide">
            <div class="projects_info-container">
              <ul class="projects_list-tools">
                <li class="projects_list-tools-item">#react</li>
                <li class="projects_list-tools-item">#js</li>
                <li class="projects_list-tools-item">#node js</li>
                <li class="projects_list-tools-item">#git</li>
              </ul>
              <p class="projects_title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/Kateryna-4yka/portfolio-project_js_team18"
                class="projects_btn"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="projects_demo-container">
              <img
                class="projects-img"
                src="/img/projects/book@1x.png"
                srcset="
                  /img/projects/book@1x.png 1x,
                  /img/projects/book@2x.png 2x
                "
                alt="Read Journey"
                loading="lazy"
              />
            </div>
          </li>
          <li class="projects-item swiper-slide">
            <div class="projects_info-container">
              <ul class="projects_list-tools">
                <li class="projects_list-tools-item">#react</li>
                <li class="projects_list-tools-item">#js</li>
                <li class="projects_list-tools-item">#node js</li>
                <li class="projects_list-tools-item">#git</li>
              </ul>
              <p class="projects_title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/Kateryna-4yka/portfolio-project_js_team18"
                class="projects_btn"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="projects_demo-container">
              <img
                class="projects-img"
                src="/img/projects/pet@1x.png"
                srcset="
                  /img/projects/pet@1x.png 1x,
                  /img/projects/pet@2x.png 2x
                "
                alt="Pet Love"
                loading="lazy"
              />
            </div>
          </li>
          <li class="projects-item swiper-slide">
            <div class="projects_info-container">
              <ul class="projects_list-tools">
                <li class="projects_list-tools-item">#react</li>
                <li class="projects_list-tools-item">#js</li>
                <li class="projects_list-tools-item">#node js</li>
                <li class="projects_list-tools-item">#git</li>
              </ul>
              <p class="projects_title">
                Programming Across Borders: Ideas, Technologies, Innovations
              </p>
              <a
                href="https://github.com/Kateryna-4yka/portfolio-project_js_team18"
                class="projects_btn"
                target="_blank"
                >See project</a
              >
            </div>
            <div class="projects_demo-container">
              <img
                class="projects-img"
                src="/img/projects/people@1x.png"
                srcset="
                  /img/projects/people@1x.png 1x,
                  /img/projects/people@2x.png 2x
                "
                alt="VocabBuilder"
                loading="lazy"
              />
            </div>
          </li>
        </ul>
      </div>
      <ul class="projects_nav">
        <li class="swiper-button-prev projects-arrow-item-prev">
          <svg class="projects_arrow projects_arrow-right">
            <use href="/img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </li>
        <li class="swiper-button-next projects-arrow-item-next">
          <svg class="projects_arrow">
            <use href="/img/sprite.svg#icon-left-arrow"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</section>
