<!-- Section Reviews -->
<section class="section" id="reviews">
    <div class="container">
        <h2 class="reviews-title">Reviews</h2>
        <div class="reviews-swiper-container swiper">
            <div class="reviews-swiper">
                <ul class="swiper-wrapper reviews-catalog">
                </ul>
            </div>
            <div class="icon">
                <!-- If we need navigation buttons -->
                <div class="reviews-swiper-button-prev">
                    <svg class="icon-left-arrow">
                        <use href="/img/sprite.svg#icon-left-arrow"></use>
                    </svg>
                </div>
                <div class="reviews-swiper-button-next">
                    <svg class="icon-right-arrow">
                        <use href="/img/sprite.svg#icon-right-arrow"></use>
                    </svg>
                </div>
            </div>
        </div>
</section>